* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

main {
    background-color: #ffffff;
}

section {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 0px 0px 25px 60px;
    background-color: white;

}

section li {
    display: inline;
    margin-right: 10px;
    font-size: 17px;
    color: black;

}

section li:hover {
    padding-bottom: 23px;
    border-bottom: 3px solid #064F70;
}


.registry {
    color: #064F70;
    font-size: 22px;
    font-weight: bold;
}

.registry:hover {
    border-bottom: 3px solid #064F70;
    padding-bottom: 0px;
}


.noidung-1 {
    background-color: rgba(189, 189, 189, 0.226);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.test-img {
    position: relative;
}

.test-img img {
    width: 1450px;
}

.noidung-test-img {
    position: absolute;
    width: 450px;
    top: 60px;
    left: 60px;
}

.noidung-test-img p {
    line-height: 25px;
    font-size: 18px;
}

.noidung-test-img .create-1-acc {
    width: 200px;
    padding: 5px;
    color: black;
    border-radius: 5px;
    background-color: #FFD814;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.noidung-1 h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.noidung-1 .search {
    display: flex;
    justify-content: center;

}

.registrant-name {
    width: 300px;
    margin-right: 10px;
}

.registrant-name p {
    font-size: 18px;
}

.registrant-name input {
    width: 300px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
}

.select-2 {
    width: 300px;
    margin-top: 30px;
    margin-right: 10px;
}

.select-2 select {
    width: 300px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.search-btn {
    width: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
    background-color: #303333;
    border-radius: 5px;
    margin-top: 30px;
}

.noidung-cuoi {
    box-sizing: border-box;
    width: 100%;

    position: relative;

}

.noidung-cuoi h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px 30px 0px;
}

.noidung-cuoi img {
    width: 70px;
}

.set-noidung {
    width: 220px;
    margin-top: 20px;
}

.set-noidung h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.dis-fl-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cac-noidung {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.items {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.item1 {
    width: 140px;
    height: 200px;
    box-shadow: 1px 1px 4px grey;
}

.item1 img {
    width: 140px;

}

.top-margin30px {
    margin-top: 30px;
}

.img-green img {
    width: 1450px;
}