* {
    padding: 0;
    margin: 0;
}

header {
    padding: 1px;
}

header .box_head {
    width: 100%;
    height: 60px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    /* margin: 1px; */

}

/*Phần nộ dung logo header*/
header .box_head .logo img {
    width: 100px;
    /* height: 60px; */
    padding: 10px 5px 5px 5px;
    /* margin-left: 10px 5px 10px 5px; */
    /* border: 1px solid white; */
    border-radius: 2px;
    position: absolute;
    top: 5px;
    left: 0.7%;
}

header .box_head>a>img:hover {
    border: 1px solid white;
}


/* Phần nội dung deliver to Vietnam */
header .box_head .deliver_to_VN {
    width: 90px;
    height: 49.04px;
    margin: auto;
    /* border: 1px solid white; */
    border-radius: 2px;
    /* height: 10px; */
    /* background-color: yellow; */
    position: absolute;
    top: 5px;
    left: 122px;
    display: flex;
    align-items: baseline;
}

/* hover */
header .deliver_to_VN:hover {
    border: 1px solid white;
}

header .box_head .deliver_to_VN .noidung_deliver_to_VN {
    /* width: 50px; */
    position: absolute;
    top: 10px;
}

/* Phần ảnh location*/
header .box_head .deliver_to_VN .noidung_deliver_to_VN img {
    width: 25px;
    margin-top: 5px;
    float: left;
}

/* Phần chữ */
header .box_head .deliver_to_VN .noidung_deliver_to_VN .title_deliver_to_VN {
    width: 65px;
    color: white;
    float: right;
}

/*deliver to*/
header .box_head .deliver_to_VN .noidung_deliver_to_VN .title_deliver_to_VN .deliver_to {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(206, 214, 219);

}

/*Vietnam*/
header .box_head .deliver_to_VN .noidung_deliver_to_VN .title_deliver_to_VN .Vietnam {
    font-size: 13px;
    line-height: 15px;
    font-weight: 900;
    font-family: Arial;
}

.clr_noidung_deliver_to_VN {
    clear: both;
}

/* Phần nội dung tìm kiếm  */
header .box_head .input_timkiem {
    width: 55%;
    height: 40px;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 10px;
    left: 225px;
}

/* Cho phần chọn sản phẩm sang bên trái */
header .box_head .input_timkiem .all_left {
    /* height: 40px; */
    float: left;
    /* border-radius: 10px 0px 0px 10px;
    background-color: green; */
}

/* chỉnh phần chọn sản phẩm */
header .box_head .input_timkiem .all_left select {
    /* width: 100%; */
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    background-color: #e6e6e6;
    font-size: 12px;
    font-weight: 500;
    color: rgb(90, 88, 88);
}

header .box_head .input_timkiem>.all_left>.chon_sanpham:hover {
    color: rgb(7, 7, 7);
    background-color: #cdcdcd;
}









/* .noidung img {
    width: 100%;
} */