* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

main {
    background-color: #ffffff;
}


.nar1 {
    font-size: 13px;
}

.nar1 ul {
    list-style: none;
    display: flex;
    border-bottom: 1px solid rgb(141, 138, 138);
    padding-left: 30px;
    margin-top: 5px;
    
}

.nar1 ul li {
    position: relative;
    margin-left: 15px;
}

.nar1 ul li:hover {
    border-bottom: 2px solid orange; 
}

.nar1 ul li a {
    text-decoration: none;
    color: black;

}

.nar1 ul li a:hover {
    color: orange; /
}
.tieude1{
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(185, 185, 183);
    margin-right: 10px;

}
.tieude1 img{
  padding-left: 3%;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nar2{
    padding-top: 20px;
}
.nar2 ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 20px;
    border-bottom: 2px solid solid blue; 
}

.nar2 ul li {
    position: relative;
}

.nar2 ul li a {
    text-decoration: none;
    color: black; 
    margin: 10px 20px;
    transition: color 0.3s; 
    font-size: 18px;

}

.nar2 ul li a:hover {
    color: blue; 
}
.nar2 ul li:hover {
    border-bottom: 2px solid blue; 
}
.image-container {
    display: flex;
    flex-direction: column; /* Hiển thị các hàng dọc */
}

.row {
    display: flex;
    justify-content: space-between; /* Khoảng cách đều nhau giữa ảnh 3 và 4 */
    margin-bottom: 10px; /* Khoảng cách giữa các hàng */
}

.image {
    flex: 1;
    width: calc(50% - 5px); /* 2 ảnh trong mỗi hàng */
}

.image img {
    max-width: 100%;
    height: auto;
}
.tren{
    display: flex;
}
.duoi{
    display: flex;
}
.Trendingnow {
    padding-left: 10px;
    border-bottom: 2px solid gray;
    font-size: 25px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.imgtrending{
    display: flex;
}
.img1{
    margin-left: 20px;
}
.Trendingnow a{
    color: black;
    text-decoration: none;
}
.kbiet{
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 40px;
}
.kbiet img{
    width: 32%;
 }
 .Learn img{
    width: 100%;
 }